.content{
    
    display:grid;
    grid-template-areas: "a a a a a"
                         "f f f f f"
                         "z z z z z"
                         "e e e e e"
                         "g b b b l"
                         "g b b b l"
                         "d d d d d"
    ;
}
*{
    box-sizing:border-box;
}
[class^="block-"]{

background-color: lightgreen;
border-radius: 10px;
border: 1px solid black;
}
.header{
    grid-area: a;
}
.block-1{
    grid-area: g;
}
.block-2{
    grid-area: b;
}
.block-3{
    grid-area: l;
}
.footer{
    grid-area: d;
}
.menu ul li{
    display: inline-block;
}
[class^="col-"]{
    float: left;
}
.col-sm-10{width:100%;}
@media only screen and (max-width: 600px){
.menu ul li{
    display: block;
}
.block-1{
    grid-area: f;
}
.block-2{
    grid-area: z;
}
.block-3{
    grid-area: e;
}
}
.header{

        background-color: lightgreen;
        border-radius: 10px;
        border: 1px solid black;
        }
.footer{

    background-color: lightgreen;
    border-radius: 10px;
    border: 1px solid black;
    }